Repository LuThanhThien/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tt-rkim, @ttmchiou, @TT-billteng, @davorchap, @vtangTT, @mo-tenstorrent, @aliuTT, @tt-aho, @TT-BrianLiu, @abhullar-tt, @pgkeller, @tt-dma, @tt-asaigal, @ubcheema, @cfjchu, @rtawfik01, @rdjogoTT, @ttmtrajkovic, @mywoodstock, @tarafdarTT, @SeanNijjar, @arakhmati, @eyonland, @xanderchin, @razorback3, @dongjin-na, @patrickroberts, @yan-zaretskiy, @ayerofieiev-tt, @dmakoviichuk-tt, @shwetankTT, @sankarmanoj-tt, @pavlejosipovic, @sjameelTT, @bbradelTT, @yugaoTT, @jdesousa-TT, @uaydonat, @skhorasganiTT, @djordje-tt, @esmalTT, @kpaigwar, @yieldthought, @mtairum, @johanna-rock-tt, @cglagovichTT, @caixunshiren

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.github/ @tt-rkim @ttmchiou @TT-billteng

/infra/ @tt-rkim

CONTRIBUTING.md @tt-rkim

CODEOWNERS @tt-rkim

INSTALLING.md @tt-rkim
METALIUM_GUIDE.md @davorchap

third_party/ @tt-rkim @TT-billteng

# Build stuff

MANIFEST.in @tt-rkim
setup.py @tt-rkim
pyproject.toml @tt-rkim @TT-billteng
requirements*.txt @tt-rkim @TT-billteng
setup_hugepages.py @tt-rkim @TT-billteng

scripts/build_scripts/ @tt-rkim @vtangTT @TT-billteng
scripts/build_scripts/build_with_profiler_opt.sh @mo-tenstorrent @tt-rkim
cmake/ @tt-rkim @vtangTT @TT-billteng
build_metal.sh @tt-rkim @vtangTT @TT-billteng

Makefile @tt-rkim
/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng
tt_metal/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng
ttnn/cpp/ttnn/experimental/CMakeLists.txt @tt-rkim @vtangTT @TT-billteng

# Testing scripts and infra

conftest.py @tt-rkim

tests/scripts/run_pre_post_commit_regressions.sh @tt-rkim
tests/scripts/run_tests.sh @tt-rkim
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @tt-rkim @aliuTT @tt-aho @TT-BrianLiu
tests/scripts/run_pre_post_commit_regressions_fast_dispatch.sh @tt-rkim @TT-billteng @ttmchiou
tests/scripts/run_models.sh @tt-rkim
tests/scripts/single_card/ @tt-rkim
tests/scripts/single_card/nightly/ @tt-rkim @vtangTT
tests/scripts/t3000/ @ttmchiou
tests/scripts/tg/ @ttmchiou
tests/scripts/tgg/ @ttmchiou

# metal - base
tt_metal/ @abhullar-tt @pgkeller @aliuTT @tt-aho @tt-dma @tt-asaigal @ubcheema
tt_metal/host_api.hpp @abhullar-tt @pgkeller @aliuTT @tt-aho @tt-dma @tt-asaigal @davorchap
tt_metal/impl/device/ @abhullar-tt @pgkeller @aliuTT @tt-aho @tt-dma @tt-asaigal @ubcheema @davorchap @cfjchu

# metal - dispatch
tt_metal/impl/dispatch/kernels/packet_* @ubcheema @aliuTT
tt_metal/impl/dispatch/kernels/eth_* @ubcheema @aliuTT
# docs/source/tt_metal/apis/host_apis/ @TT-billteng
tests/tt_metal/tt_metal/perf_microbenchmark/routing/ @ubcheema

# metal - fw, llks, risc-v
tt_metal/hw/ckernels/ @rtawfik01 @rdjogoTT @ttmtrajkovic
tt_metal/hw/firmware/**/Makefile @tt-rkim
tt_metal/include/compute_kernel_api.h @davorchap @mywoodstock
tt_metal/include/compute_kernel_api/ @rtawfik01 @rdjogoTT @ttmtrajkovic
tt_metal/include/dataflow_kernel_api.h @davorchap @mywoodstock @tarafdarTT
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @mywoodstock
tt_metal/hw/firmware/src/*erisc* @aliuTT @ubcheema
tt_metal/hw/inc/ethernet/ @aliuTT @ubcheema
tt_metal/hw/inc/wormhole/eth_l1_address_map.h @aliuTT @ubcheema
tt_metal/third_party/tt_llk_* @rtawfik01 @ttmtrajkovic @rdjogoTT

sfpi/ @pgkeller

# metal - profiler
tt_metal/**/profiler/ @mo-tenstorrent
tt_metal/**/profiler/**/CMakeLists.txt @tt-rkim @mo-tenstorrent
tests/tt_metal/tools/profiler/ @mo-tenstorrent
tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent
docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tt-rkim
tests/scripts/run_performance.sh @tt-rkim

# eager - tensor
# **/tensor/ @TT-BrianLiu @tt-aho @arakhmati

# eager - tensor and op infra
ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/ccl/ @SeanNijjar
ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/program_cache.*pp @arakhmati @eyonland @cfjchu @xanderchin
ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh* @razorback3 @dongjin-na
ttnn/cpp/ttnn/tensor/ @arakhmati @patrickroberts @yan-zaretskiy @eyonland @cfjchu @xanderchin

# eager - python api
# **/tt_lib/
**/ttnn/cpp/ttnn/deprecated/tt_lib/csrc/ @TT-BrianLiu @tt-aho @mywoodstock @eyonland @ayerofieiev-tt @razorback3 @dongjin-na
**/ttnn/cpp/ttnn/deprecated/tt_lib/csrc/tt_lib_bindings_tensor_pytensor.cpp @arakhmati @eyonland @cfjchu @xanderchin
**/ttnn/cpp/ttnn/deprecated/tt_lib/fallback_ops @tt-aho

# TTNN
ttnn/ @eyonland @arakhmati @patrickroberts @yan-zaretskiy @cfjchu @xanderchin @TT-BrianLiu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/**/kernels/ # Removes the owners above from owning kernels unless specified afterwards
ttnn/setup.py @tt-rkim
ttnn/CMakeLists.txt @tt-rkim @ayerofieiev-tt
ttnn/cpp/ttnn/operations/ccl/ @SeanNijjar @cfjchu
ttnn/cpp/ttnn/operations/pool/ @mywoodstock @shwetankTT @sankarmanoj-tt @pavlejosipovic
ttnn/cpp/ttnn/operations/conv2d/ @mywoodstock @shwetankTT @sankarmanoj-tt @pavlejosipovic
ttnn/cpp/ttnn/operations/data_movement/ @tarafdarTT @sjameelTT @yan-zaretskiy
ttnn/cpp/ttnn/operations/matmul/ @TT-BrianLiu @bbradelTT @yugaoTT
ttnn/cpp/ttnn/operations/eltwise/ @arakhmati @patrickroberts @yan-zaretskiy @eyonland
ttnn/cpp/ttnn/operations/reduction/ @SeanNijjar @tarafdarTT @sjameelTT
ttnn/cpp/ttnn/operations/normalization/ @yugaoTT @tt-aho
ttnn/cpp/ttnn/operations/embedding/ @tarafdarTT @tt-aho @TT-BrianLiu
ttnn/cpp/ttnn/operations/moreh* @razorback3 @dongjin-na
tests/ttnn/ @eyonland @arakhmati @patrickroberts @yan-zaretskiy @cfjchu @xanderchin @TT-BrianLiu @ayerofieiev-tt @dmakoviichuk-tt @razorback3 @dongjin-na
tests/sweep_framework/ @xanderchin @jdesousa-TT @sjameelTT
# models
/models/ @tt-rkim @uaydonat
/models/*/**
models/conv_on_device_utils*.py @mywoodstock @shwetankTT @sankarmanoj-tt
functional_*/ @eyonland @arakhmati @patrickroberts @yan-zaretskiy @cfjchu @xanderchin
models/demos @eyonland @arakhmati @patrickroberts @yan-zaretskiy @cfjchu @xanderchin
models/demos/metal_BERT_large_11 @tt-aho @TT-BrianLiu
models/demos/wormhole @uaydonat @eyonland
models/demos/t3000 @uaydonat
models/demos/falcon7b_common @skhorasganiTT @djordje-tt @uaydonat
models/demos/wormhole/mamba @esmalTT @uaydonat @kpaigwar
models/demos/wormhole/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/wormhole/mistral7b @yieldthought @uaydonat @mtairum
models/demos/wormhole/llama31_8b @yieldthought @mtairum @uaydonat
models/demos/wormhole/stable_diffusion @esmalTT @uaydonat @mywoodstock
models/demos/t3000/falcon40b @uaydonat @djordje-tt @johanna-rock-tt
models/demos/t3000/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/t3000/llama2_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/t3000/llama3_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/t3000/mixtral8x7b @yieldthought @mtairum @uaydonat
models/demos/tg/llama3_70b @cglagovichTT @caixunshiren @uaydonat
models/demos/tg/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/grayskull @uaydonat @eyonland
models/demos/resnet @mywoodstock @shwetankTT @tt-aho
models/demos/ttnn_resnet @mywoodstock @shwetankTT @tt-aho
models/perf/ @uaydonat @tt-rkim
models/perf/benchmarking_utils.py @skhorasganiTT @tt-rkim

# docs
docs/source/ttnn/dependencies/tt_lib.rst @eyonland @arakhmati @patrickroberts @yan-zaretskiy @cfjchu @xanderchin @ayerofieiev-tt
docs/source/ttnn/ @eyonland @arakhmati @patrickroberts @yan-zaretskiy @cfjchu @xanderchin @ayerofieiev-tt @razorback3 @dongjin-na
# docs/source/apis/host_apis/ @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/host_apis2.rst @abhullar-tt @TT-billteng @davorchap @tt-rkim
# docs/source/apis/kernel_apis/ @davorchap @pgkeller @tt-rkim
# docs/source/apis/kernel_apis.rst @davorchap @pgkeller @tt-rkim

# misc
tests/**/dtx/ @mywoodstock @sankarmanoj-tt
tests/**/*test*conv*.py @mywoodstock @sankarmanoj-tt
tests/python_api_testing/conv/ @mywoodstock @sankarmanoj-tt
tests/python_api_testing/unit_testing/fallback_ops @tt-aho
scripts/profiler/ @mo-tenstorrent
scripts/docker @ttmchiou @TT-billteng @tt-rkim

dockerfile @ttmchiou @TT-billteng @tt-rkim

update
  conftest.py
  models/demos/bert/demo/demo.py
  models/experimental/alexnet/demo/cpu_demo.py
  models/experimental/alexnet/demo/gs_demo.py
  models/experimental/alexnet/reference/alexnet.py
  models/experimental/alexnet/tt/alexnet.py
  models/experimental/lenet/demo/gs_demo.py
  models/experimental/lenet/tt/lenet.py
  models/perf/device_perf_utils.py
  models/perf/perf_utils.py
Owners: @tt-rkim, @eyonland, @arakhmati, @patrickroberts, @yan-zaretskiy, @cfjchu, @xanderchin, @uaydonat

1. dev tool for fps generator\ 2. collect pytests 3. run all pytests 4. compute fps (intergrate with profiler)
  dev/models/hardnet/reference/hardnet.py
  dev/models/hardnet/tt/hardnet.py
  dev/models/lanenet/reference/lanenet.py
  dev/models/lanenet/tt/lanenet.py
  dev/models/transformer/reference/transformer.py
  dev/models/transformer/tt/transformer.py
  dev/py/__init__.py
  dev/py/common.py
  dev/py/report/collect_pytests.py
  dev/py/report/compute_fps.py
  dev/py/report/list_op.py
  dev/py/report/perf_sheet.py.save
  dev/py/report/print_tracy_profile_log.py
  dev/py/tests/test_compute_fps.py
  dev/py/tests/test_trace_graph_simple.py
  dev/py/tests/trace_graph_simple
  dev/py/tests/trace_graph_simple.svg
  dev/py/tools/create_model_dir.py
  dev/py/tools/fps/fps_summary.py
  dev/py/tools/fps_generator.py
  dev/scripts/activate_compute_fps.sh
  dev/ttsim/cpp/core_struct.h
  dev/ttsim/cpp/ttsim.h
  dev/ttsim/programming_examples/matmul/CMakeLists.txt
  dev/ttsim/programming_examples/matmul/kernel/work_split.hpp
  dev/ttsim/programming_examples/matmul/test_split_core_helper_function.cpp
  models/demos/ttnn_resnet/tests/test_ttnn_resnet50_performant.py
  models/experimental/alexnet/reference/alexnet.py
  models/experimental/bert/fused_ops/layernorm.py
  models/experimental/inceptionV4/reference/basicconv.py
  models/experimental/inceptionV4/reference/inception.py
  models/experimental/inceptionV4/tests/test_inceptionv4.py
  models/experimental/mnist/tests/perf_mnist.py
  models/utility_functions.py
  tests/tt_eager/python_api_testing/unit_testing/misc/test_layernorm.py
  tt_metal/tools/profiler/process_ops_logs.py
  ttnn/cpp/ttnn/operations/pool/downsample/device/kernels/downsample_compute_kernel.cpp
  ttnn/cpp/ttnn/operations/pool/downsample/device/kernels/downsample_fast_pack_untilize_compute_kernel.cpp
  ttnn/tt_lib/fused_ops/conv.py
Owners: @mywoodstock, @shwetankTT, @tt-aho, @tt-rkim, @uaydonat, @mo-tenstorrent, @sankarmanoj-tt, @pavlejosipovic, @eyonland, @arakhmati, @patrickroberts, @yan-zaretskiy, @cfjchu, @xanderchin, @TT-BrianLiu, @ayerofieiev-tt, @dmakoviichuk-tt

ignore only build_ dir o lv1
  .gitignore
  scripts/build_scripts/build_with_profiler_opt.sh
  scripts/build_scripts/create_stubs.sh
  scripts/build_scripts/get_should_create_release.sh
Owners: @mo-tenstorrent, @tt-rkim, @vtangTT, @TT-billteng

remove github action
  .github/actions/docker-run/action.yml
  .github/actions/install-metal-deps/action.yml
  .github/actions/install-metal-deps/dependencies.json
  .github/actions/install-metal-dev-deps/action.yml
  .github/actions/install-metal-dev-deps/dependencies.json
  .github/actions/install-python-deps/action.yml
  .github/actions/prepare-metal-run/action.yml
  .github/actions/retry-command/action.yml
  .github/actions/slack-report/action.yaml
  .github/actions/upload-artifact-with-job-uuid/action.yml
  .github/actions/upload-data-via-sftp/action.yaml
  .github/actions/upload-data-via-sftp/benchmark_data_batchfile.txt
  .github/actions/upload-data-via-sftp/cicd_data_batchfile.txt
Owners: @tt-rkim, @ttmchiou, @TT-billteng

restore dev features
  dev/py/__init__.py
  dev/py/common.py
  dev/py/report/collect_pytests.py
  dev/py/report/compute_fps.py
  dev/py/report/perf_sheet.py.save
  dev/py/tests/test_compute_fps.py
  dev/py/tests/test_trace_graph_simple.py
  dev/py/tools/fps/fps_summary.py
  dev/py/tools/fps_generator.py
  dev/scripts/activate_compute_fps.sh
Owners: none

add README.md for dev
  dev/README.md
Owners: none

#123: print tensor shape for resnet
  conftest.py
  dev/py/report/compute_fps.py
  models/demos/ttnn_resnet/tests/test_perf_ttnn_resnet.py
  pytest_commands.txt
Owners: @tt-rkim, @mywoodstock, @shwetankTT, @tt-aho

#001: refractor resnet50 model input 224x224 from tenstorrent
  conftest.py
  dev/__init__.py
  dev/common.py
  dev/device.ipynb
  dev/device.py
  dev/models/__init__.py
  dev/models/resnet/reference/torch_resnet50.py
  dev/models/resnet/tests/test_resnet50_hr.py
  dev/models/resnet/tt/custom_preprocessing.py
  dev/models/resnet/tt/resnet50.py
  dev/models/resnet/tt/resnet50_bottleneck.py
  dev/models/resnet/tt/resnet50_linear.py
  dev/py/__init__.py
  dev/py/report/perf_sheet.py
  dev/py/tools/fps/fps_summary.py
  dev/scripts/activate_compute_fps.sh
  dev/tests/test_compute_fps.py
  dev/tests/test_pad_and_fold_conv_activation.py
  dev/tests/test_trace_graph_simple.py
  dev/tests/trace_graph_simple
  dev/tests/trace_graph_simple.svg
  dev/tools/collect_pytests.py
  dev/tools/compute_fps.py
  dev/tools/fps_generator.py
  dev/tools/list_op.py
  dev/tools/perf_sheet.py
  dev/tools/print_tracy_profile_log.py
  models/demos/ttnn_resnet/tests/test_perf_ttnn_resnet.py
  models/demos/ttnn_resnet/tt/ttnn_functional_resnet50_large_new_conv_api.py
  models/demos/ttnn_resnet/tt/ttnn_functional_resnet50_new_conv_api.py
  models/perf/perf_utils.py
  models/utility_functions.py
  tt_metal/tools/profiler/process_ops_logs.py
  ttnn/ttnn/__init__.py
  ttnn/ttnn/graph.py
  ttnn/ttnn/tracer.py
  ttnn/ttnn/types.py
Owners: @tt-rkim, @mywoodstock, @shwetankTT, @tt-aho, @uaydonat, @mo-tenstorrent, @eyonland, @arakhmati, @patrickroberts, @yan-zaretskiy, @cfjchu, @xanderchin, @TT-BrianLiu, @ayerofieiev-tt, @dmakoviichuk-tt
